*
!.gitignore
!/LICENSE
!/README.md
!/MAINTAINER.md
!.github/
!.github/workflows/
!.github/workflows/*.yml
!.github/scripts/
!.github/scripts/*.sh
!/perry/
!/perry/PKGBUILD
!/perry/.SRCINFO
!/tests/
!/tests/*.sh
